<main>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center
                align-items-center" style="width: fit-content;">
            <div class="page_title" style="color: #0E63C1; background-color: #ECF4FD;
                    padding: 10px 5px">
                Phương thức thanh toán đa dạng, bảo mật
            </div>
        </div>

        <div class="d-flex flex-lg-row justify-content-between" style="width: fit-content;
                    ">
            <div style="margin-top: 30px" class="card-payment">
                <span class="h4 d-flex align-content-center">Phương thức thanh toán</span>
                <div class="list-group" style="width: fit-content; margin-top: 20px">
                    <div class="form-check list-group-item" style="padding-left: 30px;">
                        <img src="/img/momo.png" alt="momo">
                        <input class="form-check-input" type="radio" id="momoPayment" name="selectPayment" value="momo">
                        <label class="form-check-label" for="momoPayment">
                            Thanh toán momo
                        </label>
                        <p>Điện thoại của bạn phải được cài ứng dụng momo</p>
                    </div>

                    <div class="form-check list-group-item" style="padding-left: 30px;">
                        <img src="/img/bus_station.png" alt="directPayment">
                        <input class="form-check-input" type="radio" name="selectPayment" id="directPayment"
                            value="direct">
                        <label class="form-check-label" for="directPayment">
                            Thanh toán khi lên xe
                        </label>
                        <p>Bạn có thể thanh toán cho tài xế khi lên xe</p>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center" style="width: fit-content">
                <div style="margin-left: 20px" class="ticket-info">
                    <div style="margin-top: 30px; margin-left: 40px;">
                        <span class="h4">Thông tin chuyến đi</span>
                    </div>
                    <div class="ticket-info-body border-1" style="border-style: solid;border-color: #F1EDF2;
                        padding: 20px; margin-top: 20px">
                        <div class="container d-flex align-items-md-start">
                            <div class="passengerInfo d-flex flex-column">
                                <span class="titleText">Hành khách</span>
                                <p class="namePassenger contentText">{{user.HoTen}}</p>
                                <span class="titleText">Số điện thoại</span>
                                <p class="phonePassenger contentText">{{user.SoDt}}</p>
                                <span class="titleText">Email</span>
                                <p class="emailPassenger contentText">{{user.email}}</p>
                                <span class="titleText">Số vé</span>
                                <p class="totalSeatPassenger contentText">{{soVe}}</p>
                                <span class="titleText">Vị trí chỗ ngồi</span>
                                <p class="seatsPassenger contentText">{{{seats}}}</p>
                            </div>
                            <button class="adjustDeparture btn " style="float:right; border: none; margin-left: 10px;">
                                <img src="/img/pen-blue.png">Sửa
                            </button>
                        </div>
                        <hr />
                        <div class="container">
                            <span class="titleText">Nhà xe</span>
                            <p>{{nhaXe.TenNhaXe}}</p>
                        </div>
                        <div class="container d-flex align-items-md-start justify-content-between">
                            <div class="departureInfo d-flex flex-column">
                                <p class="titleText">Điểm đón (dự kiến)</p>
                                <p class="contentText">
                                    <time class="departureTime">{{tgDi}}</time> <span>-</span>
                                    <span class="departureDate"><time>{{ngayDi}}</time></span>
                                    <br>
                                    <span class="departurePlace">{{chuyenXe.TramDi}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="container d-flex align-items-md-start justify-content-between">
                            <div class="arrival-info d-flex flex-column">
                                <p class="titleText">Điểm trả (dự kiến)</p>
                                <p class="contentText">
                                    <time class="arrivalTime">{{tgDen}}</time> <span>-</span>
                                    <span class="arrivalDate"><time>{{ngayDen}}</time></span>
                                    <br>
                                    <span class="arrivalPlace">{{chuyenXe.TramDen}}</span>
                                </p>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="d-flex flex-column" style="width: fit-content; float:right;
                        padding: 0 50px">
                    <p class="d-flex justify-content-around">
                        <span style="font-size: large; margin-right:70px"> Tổng tiền</span>
                        <span class="price" style="color: #0060C4; font-size: large;"> {{tongTien}}</span>
                    </p>
                    <div class="d-flex justify-content-between" style="margin: 0 20px">

                        <a class="btn btn-primary" style="background-color:#605DEC" href="#" id="payment" role="button"
                            onclick="pay('{{chuyenXe._id}}','{{user._id}}', '{{{seats}}}', '{{soVe}}', '{{tongTien}}')">Đặt
                            vé</a>
                        <a href="/BookTickets" onclick="return confirm('Bạn có chắc không');" class="btn btn-primary"
                            style="background-color:#605DEC; margin-left: 120px">Hủy</a>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <script>
        function pay(idCX, idUser, seats, soVe, tongTien) {
            console.log("hello world")
            let select = document.querySelector('input[name="selectPayment"]:checked');
            if (select) {
                console.log(select.value)
                document.getElementById("payment").setAttribute("href",
                    "/user/pay/" + idCX + "/" + idUser + "/" + encodeURIComponent(seats) + "/"
                    + encodeURIComponent(soVe) + "/" + encodeURIComponent(tongTien));
            }

        }
    </script>
</main>