<main class="main-content position-relative border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h3>Thông tin đặt vé chi tiết</h3>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                {{#with user}}
                                <div class="col-3">
                                    <label for="name">HoTen</label>
                                    <input type="text" value="{{HoTen}}" class="form-group" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="email">Email</label>
                                    <input type="email" value="{{email}}" class="form-group" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="name">Số điện thoại</label>
                                    <input type="text" value="{{SoDt}}" class="form-group" readonly>
                                </div>
                                {{/with}}
                            </div>

                            <div class="row">
                                {{#with veXe}}
                                <div class="col-3">
                                    <label for="num">Số lượng vé</label>
                                    <input type="number" value="{{SoLuongGheDat}}" class="form-group" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="seats">Danh sách chỗ ngồi</label>
                                    <input type="text" value="{{#each DanhSachGheNgoi}}{{this}},{{/each}}" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="num">Tổng tiền</label>
                                    <input type="number" value="{{TongTien}}" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="num">Tình Trạng</label>
                                    <input type="number"
                                        value="{{#if (eq TinhTrang 1)}}Đã thanh toán{{else}}Chưa thanh toán{{/if}}"
                                        readonly>
                                </div>
                                {{/with}}
                            </div>

                            <div class="row">
                                {{#with chuyenXe}}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="start">Điểm bắt đầu</label>
                                            <input type="text" value="{{DiemBatDau}}" readonly class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="end">Điểm đến</label>
                                        <input type="text" value="{{DiemKetThuc}}" readonly class="form-group">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="departureDate">Ngày khởi hành</label>
                                        <input type="text" class="form-group" id="departureDate" name="departureDate"
                                            readonly value="{{ThoiGianKhoiHanh}}" />
                                    </div>
                                    <div class="col-6">
                                        <label for="arrivalDate">Ngày đến nơi</label>
                                        <input type="text" class="form-group" id="arrivalDate" name="arrivalDate"
                                            readonly value="{{ThoiGianDenNoi}}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <label for="carType">Loại xe</label>
                                        <input type="text" class="form-group"
                                            value="{{#if (eq LoaiXe 9)}}Xe 9 chỗ{{else if (eq LoaiXe 12)}}Xe 12 chỗ{{else}}Limousine{{/if}}"
                                            readonly>
                                    </div>
                                </div>
                                {{/with}}
                            </div>

                            <a href="/admin/DatVe" class="btn btn-primary btn-lg active" role="button"
                                aria-pressed="true">Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>